@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');

/* Mobile first version */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-sedans: #e38826;
    --bg-suvs: #006970;
    --bg-luxury: #004241;
    --paragraph-font: 'Lexend Deca', sans-serif;
    --heading-font: 'Big Shoulders Display', cursive;
}

body {
    max-width: 375px;
    margin: auto;
}

h2 {
    padding: 0px 35px 35px 35px;
    font-size: 35px;
    text-transform: uppercase;
    font-family: var(--heading-font);
    color: hsl(0, 0%, 95%);
}

p {
    max-width: 250px;
    padding: 0px 35px 35px 35px;
    font-size: 15px;
    font-family: var(--paragraph-font);
    color: hsla(0, 0%, 100%, 0.75);
}

img {
    padding: 30px;
}

button {
    outline: none;
    background: hsl(0, 0%, 95%);
    border: none;
    margin: 10px 30px 30px 30px;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: normal;
    border: 1px solid hsla(0, 0%, 100%, 0.75);
}

button:hover {
    cursor: pointer;
    background: transparent
}

button:hover a {
    color: hsla(0, 0%, 100%, 0.75);
}

button a {
    text-decoration: none;
    color: inherit;
}


footer {
    text-align: center;
}

.card-gallery {
    display: flex;
    margin: 50px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sedans {
    background: var(--bg-sedans);
    border-radius: 10px 10px 0 0;
}

.suvs {
    background: var(--bg-suvs);
}

.luxury {
    background: var(--bg-luxury);
    border-radius: 0 0 10px 10px;
}

.orange {
    color: var(--bg-sedans);
}

.cyan {
    color: var(--bg-suvs);
}

.green {
    color: var(--bg-luxury);
}

/* Desktop version */

@media only screen and (min-width: 700px) {
    body {
        max-width: 1440px;
    }

    .card-gallery {
        flex-direction: row;
    }

    .sedans {
        border-radius: 10px 0px 0px 10px;
    }

    .luxury {
        border-radius: 0px 10px 10px 0px;
    }
}